footer.footer
    .footer__icon
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column
    span.footer__text  #{siteName} #{new Date().getFullYear()} &copy;



