.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github 
            |Continue with Github
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook 
            |Continue with Facebook
            <br>(Faceebook 안내)<br>
            p 코로나바이러스감염증-19(코로나19)로 인해 Facebook은 검토자들이 정보를 제공하고 안전을 
            p 유지하는 데 도움이 되는 작업에 집중할 수 있도록 
            p 개인 인증을 일시 중단했습니다. 
            p Facebook은 이 검토 단계가 
            p 중요하다는 것을 알고 있으며 가능한 한 빨리 
            p 개인 인증을 재개하겠습니다.